@model OAuth2WebClient.ViewModels.Home.AuthorizationCodeGrantViewModel

@{
    ViewBag.Title = "Home Page";
}
<h2>Login with Authorization code flow</h2>

<section>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Client credentials grant request form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.ClientId)
                    @Html.TextBoxFor(m => m.ClientId)
                    @Html.ValidationMessageFor(m => m.ClientId)
                </li>
                <li>
                    @Html.LabelFor(m => m.ClientSecret)
                    @Html.TextBoxFor(m => m.ClientSecret)
                    @Html.ValidationMessageFor(m => m.ClientSecret)
                </li>
                <li>
                    @Html.LabelFor(m => m.Scope)
                    @Html.TextBoxFor(m => m.Scope)
                    @Html.ValidationMessageFor(m => m.Scope)
                </li>
            </ol>
            <input type="submit" value="Submit request" />
        </fieldset>
    }
</section>

<section>
    @if (!string.IsNullOrWhiteSpace(ViewBag.AuthorizationCode))
    {
        var code = ViewBag.AuthorizationCode;
        var state = ViewBag.AuthorizationState;
        
        <dl>
            <dt>Authorization code</dt>
            <dd>@code</dd>
            
            <dt>Authorization state</dt>
            <dd>@state</dd>
        </dl>
    }
</section>

@{ Html.RenderPartial("AccessTokenResult");}